.abc-settings .form-row {
	margin: 0 0 15px 0;	
}

.abc-settings .form-row > span {
	font-weight: bold;
}

.abc-settings .form-row > textarea {
	width: 600px;
	height: 250px;
}

.abc-settings .form-row > label {
	margin: 5px 15px 0 0;
}

.abc-settings .form-row > label input {
	vertical-align: baseline;
}